.App {
  text-align: center;
}

body {
  background: var(--color-surface-100);
  color: white;
  margin: 0;
  padding: 0;
  font-family: var(--ff-main);
}

.header {
  background: var(--color-surface-300);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 15px;
  margin-top: 20px;
  border-radius: 10px;
}

hr {
  width: 95%;
  margin-top: 1.5rem;
}

.search {
  margin-block: 2.5rem;
}

.search input, .search button, .track-container input, .track-container button {
  font-family: var(--ff-main);
  padding: 0.7rem;
  font-size: 0.9rem;
  border-radius: 8px;
  border: none;
}

.search input, .track-container input {
  background: var(--color-surface-300);
  color: white;
}

.search input::placeholder, .track-container input::placeholder {
  color: white;
}

.search button, .track-container button {
  font-weight: bold;
  margin-left: 1rem;
  padding-inline: 1.2rem;
  background: var(--color-surface-mixed-100);
  color: white;
  border: 1px solid var(--color-surface-mixed-200);
  box-shadow: 0.5px 0.5px 6px var(--color-surface-mixed-600);
}

.search button:hover, .track-container button:hover {
  background: var(--color-primary-300);
  color: black;
}

.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6.5rem;
  margin-inline: auto;
  margin-block: 2.5rem;
  max-width: 900px;
  width: screen;
  height: fit-content;
}

.track-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  width: 85%;
  margin-inline: auto;

  background: var(--color-surface-200);
  padding: 1rem;
  border-radius: 10px;
  width: 50%;
}

.track-container svg {
  fill: var(--color-primary-300);
}

.track-container svg:hover {
  cursor: pointer;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  scale: 90%;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-surface-600);
}

.track-details {
  width: 70%;
}

.track p  {
  margin-top: -15px;
  color: var(--color-surface-600);
}

.track-container input {
  margin-bottom: 1.2rem;
  margin-inline: auto;
  width: 50%;
}

.track-container button {
  margin-block: 1.2rem;
  margin-inline: auto;
  width: fit-content;
}

@media (max-width: 950px) {
  .main-container {
    margin-inline: 1rem;
    gap: 2.5rem;
  }
}

@media (max-width: 580px) {
  .main-container {
    flex-direction: column;
  }

  .track-container {
    width: 70%;
  }
}
